body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  width: 100px;
  height: 100px;
  float: left;
}

.card.front {
  background-color: #00B7FF;
}

.card.back {
  background-color: #000000;
}