extends layout

block content
  h1= title
  p Welcome to #{title}

  #card0.card.back(data-cardno=0,data-side=0)
  #card1.card.back(data-cardno=1,data-side=0)
  #card2.card.back(data-cardno=2,data-side=0)
  #card3.card.back(data-cardno=3,data-side=0)